.video-player {
    max-width: 750px;
    position: relative;
    overflow: hidden;
}

.video {
    width: 100%;
}

.play-button {
    box-shadow: none !important;
    text-shadow: none !important;
    outline: none !important;
    border: none;
    background: transparent;
}